* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button */
#modalBtn {
    width: 10%;
    height: 8%;
    border: none;
    border-radius: 20px;
    background-color: #6161ff;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 0 0.5rem #000;
    cursor: pointer;
    transition-duration: 0.3s;
}
#modalBtn:hover {
    transform: scale(1.3) translate(0, -2rem);
    font-size: 1.8rem;
    box-shadow: 0 1rem 2rem #000;
}

/* Modal */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition-duration: 0.3s;
}
.showModal {
    transform: scale(0);
}
#modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Modal List */
.modal #list {
    width: 60vw;
    height: 70vh;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow-y: auto;
}
.modal #list::-webkit-scrollbar {
    width: 1rem;
}
.modal #list::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #0099ff;
}
.modal #list #closeBtn::before {
    content: '❌';
    position: absolute;
    top: -85px;
    right: 0;
    font-size: 2.5rem;
    padding: 1rem;
}

/* Modal title */
.modal #list h1 {
    color: #555;
    text-align: center;
    margin: 1.5rem 0;
}

/* Modal input */
.modal #list form {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal #list input[type=text] {
    width: 82%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 1px solid #0099ff;
    border-radius: 10px;
    outline: none;
    transition-duration: 0.3s;
}
.modal #list input[type=text]:focus {
    box-shadow: 0 0 0.5rem #0099ff;
}

.modal #list input[type=submit] {
    width: 15%;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 1rem;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
}

/* Modal #task */
.modal #list #task::before {
    content: 'Tasks';
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    color: #555;
}
.modal #list .to_do_list {
    transition: all 0.5s;
}

/* Modal .to_do_list */
.modal #list .to_do_list .draggable {
    transition: all 0.5s;
    display: flex;
    border: 1px solid #0099ff;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1rem;
}
.modal #list .to_do_list .draggable .ham {
    width: 5%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0099ff;
    border-radius: 10px;
}
.modal #list .to_do_list .draggable .ham span {
    width: 100%;
    border-bottom: 3px solid #fff;
}

/* Modal .to_do_list .draggable input */
.modal #list .to_do_list .draggable input[type=text] {
    width: 75%;
    padding: 0.5rem;
    border: none;
    margin: 0.5rem;
}
.modal #list .to_do_list .draggable input[type=text]:focus {
    box-shadow: none;
}

/* Modal .to_do_list .draggable button */
.modal #list .to_do_list .draggable button {
    width: 10%;
    cursor: pointer;
    border: none;
    text-align: center;
    font-weight: 600;
    background-color: #0099ff;
    color: #fff;
    border-radius: 10px;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    
} 
.modal #list #task .to_do_list .draggable .delBtn {
    background: #ff0000;
}


/* Drag & Drop */
.dragging {
    box-shadow: 0 0 1rem #0099ff;
}

